extends layout

block content
  h1= title
  p Hi this is Sai Karthik Malyala. I am currently pursuing my Master's in Applied Computer Science at NWMSU. I am intresting exploring new programming languages and recently hooked up to Google Flutter. Exploring it and creating all kinds of application for Andriod, IOS, Mac OS, Windows and Web applications.
